body
{
    background-color: #f1e4f3;
    color: #6c757d;
    font-family: 'Lobster', cursive;
}

h1
{
    color: #1c1c1c;
    text-align: center;
    margin: 0.5em;
}

.navbar
{
    background-color: #8d8d8d;
}

#mainPart
{
    margin-left: auto;
    margin-right: auto;
    width: 600px;
}

.offcanvas
{
    background-color: #1c1c1c;

}

.btn-close
{
    background-color: #f1e4f3;
}

#offcanvasScrollingLabel
{
    color: #f1e4f3;
}

.offcanvas-body
{
    background-color: #8d8d8d;
    color: #f1e4f3;
}

.nav-link
{
    color: #f1e4f3;
}

.nav-link:hover
{
    color: #1c1c1c
}

.songwords
{
    line-height: 1.3;
    font-size: 120%;
    margin-top: 0px;
    font-family: Consolas, Courier New, Courier, monospaced;
}

#carouselExampleInterval
{
    width: 500px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
}

.form-control:focus
{
    border-color: #6c757d;
    box-shadow: 0 0 0 0.25rem #dbdbdb;
}

.form-check-input:checked
{
    background-color: #b0b5b3;
    border-color: #dbdbdb;
}

.form-check-input:focus
{
    border-color: #dbdbdb;
    box-shadow: 0 0 0 0.25rem #dbdbdb;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%280, 0, 0, 0.25%29'/%3e%3c/svg%3e")
}

.form-switch .form-check-input:focus
{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%280, 0, 0, 0.25%29'/%3e%3c/svg%3e")
}

#mySVG
{
    position: fixed;
    top: 15%;
    width: 400px;
    height: 310px;
}
